.info {
    background-color: #ECFDF5;
    border: 1px solid #34D399;
    color: #10B981;
    padding: 4px 16px;
}

.error {
    background-color: #FCE7F3;
    border: 1px solid #F472B6;
    color: #EC4899;
    padding: 4px 16px;
}